body {
    font-family: Arial, sans-serif;
    color: white;

    background-image: url("forge-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
}

header {
    text-align: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
}

header h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 52px;
    letter-spacing: 18px;
    text-transform: uppercase;
    margin: 0;
}

header p {
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
}


.container {
    max-width: 1400px;
    padding: 20px 40px;
}

h2 {
    margin-top: 40px;
}

p {
    line-height: 1.6;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: orange;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 175px;
    border-radius: 50%;
}

.profile {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 275px;
    border-radius: 50%;
}

#projects {
    width: 48%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba (255, 140, 0, 0.35);
    border-radius: 12px;
}

#projects p {
    text-align: center;
}

#projects h2 {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#projects ol>li {
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

#about {
    width: 48%;
    float: right;
    margin-top: 140px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba (255, 140, 0, 0.35);
    border-radius: 12px;
}

#about h2 {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#contact {
    font-family: "Orbitron", sans-serif;
    clear: both;
    text-align: center;
    margin-top: 60px;
}